body {
  text-align: center;
  background-color: #082572;
}

h1 {
  font-size: 5rem;
  color: #c1f0ff;
  font-family: "Arvo", cursive;
  text-shadow: 5px 0 #4252ff;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background-image: url("images/tom1.png");
  backface-visibility: inherit;

}

.a {
  background-image: url("images/tom2.png");
  backface-visibility: inherit;
}


.s {
  background-image: url("images/tom3.png");
  backface-visibility: inherit;
}


.d {
  background-image: url("images/tom4.png");
  backface-visibility: inherit;
}


.j {
  background-image: url("images/snare.png");
  backface-visibility: inherit;
}


.k {
  background-image: url("images/crash.png");
  backface-visibility: inherit;
}


.l {
  background-image: url("images/kick.png");
  backface-visibility: inherit;
}


.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: #ff1064;
}

.drum {
  outline: none;
  border: 10px solid #549bff;
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 0;
  font-weight: 900;
  color: #ffc721;
  text-shadow: 3px 0 #181818d6;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
@media (max-width:768px)
{
   body{
    width: 100%;
  }
  .set{
width: 500px;
width: 100%;

  }

}
